<art-tweet></art-tweet>
<canvas #canvas (click)="onCanvasClick($event)" (pointermove)="onPointerMove($event)" (pointerup)="onPointerUp($event)"
    (pointerdown)="onPointerDown($event)" (mousemove)="onPointerMove($event)" (mouseenter)="onObjectHover($event)"
    (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" (ondevicechange)="onDeviceChange($event)"
    (window:resize)="onResize($event)" (window:keydown)="onKeyDown($event)" [attr.aria-label]="canvas"></canvas>
<art-webxr-button></art-webxr-button>